body {
    width: 100%;
    height: 50vw;
    background-color: black;
}

.topContainer {
    margin: 0;
    text-align: center;
    width: 100%;
    height: 10%;
    font-family: 'Open Sans', sans-serif;
    background-color: black;
    color: #15d815;
    font-size: 30px;
}

.topContainer h1 {
    display: inline-block;
    margin: 0;
    margin-right: 10px;
}

.topContainer img {
    margin: 0;
    height: 100%;
    width: 100px;
}

.middleContent {
    width: 100%;
    height: 50vw;
    display: flex;
    flex-direction: row;
}

.leftSide {
    background-color: black;
    width: 20%;
    height: 100%;
    display: block;
}

.rightSide {
    background-color: black;
    width: 20%;
    height: 100%;
    display: block;
    color: red;
}

.centerContainer {
    background-color: black;
    width: 60%;
    height: 100%;
    display: block;
}

.gamePlay {
    border: 5px dashed white;
    width: 70%;
    height: 80%;
    margin: 10% 15%;
    background-color: black;
    display: flex;
}

.leftGameSide {
    border-right: 5px dashed white;
    background-color: red;
    width: 40%;
    height: 100%
}

.rightGameSide {
    background-color: green;
    width: 60%;
    height: 100%;
}

.centeredPiece {
    width: 90%;
    height: 90%;
    margin: 5% 5%;
    display: flex;
    flex-direction: column;
}

.theAnswer {
    font-size: 100px;
}

